* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden;
    
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    margin-top: 9px;

}

.nav-button {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-right: 78px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 3px;
    color: rgb(71, 68, 68);
    cursor: pointer;
    position: relative;
}

nav>img {
    padding-left: 74px;
    width: 18vw;
    margin-right: 40px;
}

#menu {
    display: none;
}

/* here we edit the body text and the also a button  */
.middel-text {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 45px;
    margin-top: 78px;

}

#p1 {
    padding-right: 20px;
    margin-top: 10px;
    font-size: 48px;
    font-family: sans-serif;
    color: #222222;
}

#p1 span {
    font-weight: bolder;
}

#p2 {
    font-size: 24px;
    color: #222222;
    font-family: serif;
    width: 937px;
    text-align: center;
    letter-spacing: 0.7px;

}

.btn {
    font-size: 14px;
    background-color: #00b6d1;
    border-width: 0px !important;
    border-radius: 5px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 20px !important;
    min-height: 48px;
    min-width: 256px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;

}

.btn:hover {
    color: #f5ecec;

}

/* here is the css code of grid  */
#grid-text {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    margin-left: 179px;
    margin-top: 83px;
    margin-bottom: -20px;
}

#grid-text img {
    width: 60px;



}

#grid-text p {

    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#grid-text p span {
    font-size: 14.4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: aqua; */
    justify-items: flex-start;
    margin: 139px;
    margin-top: 61px;
    row-gap: 20px;
    column-gap: 20px;
}

.item {

    width: 300px;
    height: 150px;
    background-color: #f1f1f1;
    padding-top: 20px;
    text-align: center;
    border-radius: 5px;


}

.item h3 {
    padding-bottom: 36px;
}

.item h3 span {
    font-weight: 100;
    font-size: small;

}

.btu {
    background-color: #00b6d1;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-family: serif;
    font-weight: 600;


}

.btu a {
    text-decoration: none;
    color: #f1f1f1;
}

/* last section of text and form  */
.last-section {
    max-width: 100%;
    height: 100%;
    background-color: #222222;
    color: white;
    font-family: serif;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 63px;
    margin-top: 44px;
    padding-bottom: 39px;
    position: relative;
    bottom: 103px;
}

.side-text {
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    font-family: serif;
}

.side-text p {
    width: 414px;
    padding-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: white;
    color: black;
    width: 345px;
    height: 245px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 166px;
}

.form h3 {

    color: #00b6d1;
    font-weight: 500;
    font-size: 24px;
}

.form form {
    padding: 39px;
    display: grid;
}

.form form input {
    padding: 12px 48px;
    margin: 5px;
}

.form form button {
    padding: 10px;
    margin: 5px;
    color: #ffffff;
    font-weight: 800;
    background-color: #00b6d1;
    border: none;
    border-radius: 3px;

}

.last-text {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 105px;
    max-width: 100%;
    height: 300px;
    padding-left: 164px;
    padding-top: 50px;
    color: #ffffff;
    line-height: 24px;
}

.last-text p {
    width: 72%;
    padding: 5px 0px 5px px 0px;
    line-height: 37px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* line-height: 5px; */
}

.last-text p span {
    color: #00b6d1;
}

/* now we start the footer section here */
.footer-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0px 151px 0px 166px;


}

.footer-section li {
    list-style: none;
    padding: 2px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222222;
    cursor: pointer;

}

.footer-section h5 {
    font-size: 16px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222222;


}

.footer-section h4 {
    font-size: 16px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222222;


}


.footer-form p {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222222;

}

.footer-form input {
    margin-top: 10px;

    padding: 10px;
}

.footer-form button {
    margin-top: 10px;
    width: 75%;
    border-radius: 6px;
    border: none;
    background-color: #00b6d1;
    color: white;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    #menu {

        display: block;
        cursor: pointer;

    }

    .nav-button {
        padding: 20px;
    }

    .nav-button li {
        display: none;
    }

    nav>img {
        width: 34vw;
        padding: 5px;
    }

    nav {
        background-color: aqua;
        margin: 0px;
        padding: 0px;
    }

    /* now for main body */
    #p1 {
        font-size: 30px;
        text-align: center;
        width: 100%;
        position: relative;
        bottom: 10px;
    padding-bottom: 18px
    }

    #p2 {
        font-size: 17px;
        width: 95%;
        position: relative;
        bottom: 50px;
    }

    .btn {
        position: relative;
        bottom: 50px;
    }

    /* here we edit the grid  @media */
    #grid-text {

        margin-left: 1%;
        margin-top: 0px;
    }


    #grid-text p {
        font-size: 15px;
    }

    #grid-text p span {
        font-size: 10px;
    }


    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        /* justify-content: center; */
        margin-left: 0px;
        width: 100%;

    }

    .item {

        width: 100%;
        height: 150px;
        background-color: #f1f1f1;
        padding-top: 20px;
        text-align: center;
        border-radius: 5px;
    }

    /* the media of last section  */
    .last-section {
        width: auto;
        /* min-width: 70vw; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */

    }

    .side-text {
        /* padding: 45px; */
        font-size: 3vw;
    }

    .side-text p {
        width: auto;
        padding-bottom: 5px;
    }

    .form {
        margin: 5px;
    }

    .last-text {


        padding: 0px;
        width: 100vmin;
        padding-left: auto;
        padding-top: auto;
        font-size: 14px;
        height: 220px;
        padding-left: 25px;
    }

    .last-text p {
        width: 95%;
        font-size: 12px;
        line-height: 20px;
        line-height: 22px;
    }

    /* the last section of footer  */

    .footer-section {
        display: grid;
        grid-template-columns: 1fr;
        align-items: flex-start;
        /* justify-content: flex-start; */
        padding: 25px;
        margin: 0px;
        margin-top: -80px;


    }

    .footer-section li {
        padding-top: auto;
    }

    .footer-section h5 {
        padding-top: 25px;
        /* padding-bottom: -10px; */
    }

    .footer-section h4 {
        padding-top: 25px;
        text-align: center;
        color: #f1f1f1;
    }

    .footer-form {
        background-color: #222222;
        /* width: 100vw; */
        margin-top: 20px;
        padding-bottom: 20px
    }

    .footer-form p {
        text-align: center;
        color: #f1f1f1;
    }


    .footer-form input {
        width: 42%;
        margin-left: 26vw;
    }

    .footer-form button {
        width: 42%;
        margin-left: 26vw;
    }

    /* the last section in footer is logo in also icon */

    .last-container {
        width: 100%;
        flex-direction: column;
        position: relative;
        right:  160px;
    }

    .last-container-icon {
        display: flex;
        /* width:100vw; */
justify-content: center;
        padding-left: 6vmax;
        padding-top: 15px;
        margin-right: 0px;
    }
/* copy right */
.copy-right {
    width: 100%;
justify-content: center;
padding-right: 25vmax;
padding-top: 10px;
}


}

/* the last logo and icon of link */
.last-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 160px 0px;
}

.last-container-img img {
    max-width: 157px;
    max-height: 57px;
}

.last-container-icon {
    margin-right: 43px;
}

.last-container-icon li {
    display: inline;
    font-size: 29px;
    color: #222222;
    cursor: pointer;
}

/* copy right */
.copy-right {
    display: flex;
    margin: 0px 0px 0px 12vmax;
    font-size: 12px;
    color: #222222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* up button animation */
.button-container{
    display: flex;
    justify-content: end;
    padding: 0px 30px 30px 0px;
}
.up-button {
    width: 50px;
    height: 50px;
    background-color: #00b6d1;
    font-size: 45px;
    cursor: pointer;
    animation: furqan 4s ease-in-out backwards;
}

@keyframes furqan {
    0% {
        left: 1272px;
        bottom: 39px;
    }

    25% {
        bottom: 2000px;
        left: 1272px;
    }

    50% {
        bottom: 2000px;
        left: 1272px;
    }

    100% {
        bottom: 2000px;
        left: 1272px;
    }
}


.up-button:hover {
    background-color: #11d5fc;
}

.up-button li {
    font-size: 40px;
    text-align: center;
    padding-right: 5px;
    color: #f1f1f1;
    list-style: none;
    position: sticky;
}